form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--content-primary);
  & > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  & .date-hour {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    & div{
      width: 50%;
    }
  }
  
  & .btn-new{
    width: 50%;
    margin-left: 50%;
  }

}

.input-wrapper {
  display: flex;
  gap: 0.5rem;
  position: relative;
  & input {
    padding: 1rem 2.5rem;
  }
}

.icons {
  width: 1.25rem;
  position: absolute;
  z-index: 1;
  left: 12px;
  top: 15px;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  background-color: transparent;
  color: var(--content-primary);
}
